* {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
p, a {
    font-family: Kurale;
}
.name-logo {
    font-family: AlexBrush;
}
a {
    text-decoration: none;
}
.screen {
    aspect-ratio: 16/8;
    position: relative;
}

header li {
    margin: 0.7em;
}
header hr {
    size: 2;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}
.background-image {
    width: 100%;
}
.background-logo {
    width: 54%;
    margin-inline: 20%;
    margin-top: 2em;
    padding: 2%;
    padding-inline: 3%;
    position: absolute;
    top: 0;
    border-radius: 40px / 40px;
}

.logo-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-top>div {
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.name-logo {
    width: 150px;
    font-size: 3em;
}
.image-logo {
    height: 150px;
    margin: 0.2em;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-inline: 3em;
}

.about-us {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin-inline: 5%;
}
.text-about-us {
    font-size: 2em;
    align-items: center;
    display: flex;
    width: 45%;
}
.text-about-us p {
    margin: 1em;
    margin-inline: 0;
}
.picture-about-us {
    width: 45%;
    text-align: right;
}
.picture-about-us>img {
    width: 100%;
    border-radius: 100px / 100px;
}

.elements-review {
    align-items: center;
    height: 100%;
    width: 90%;
    margin-inline: 5%;
    display: flex;
    justify-content: space-between;
}
.element-review {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text-review {
    font-size: 2em;
    align-items: center;
    display: flex;
    width: 45%;
}
.text-review p {
    margin: 1em;
    margin-inline: 0;
}
.picture-review {
    width: 45%;
    text-align: right;
}
.picture-review>img {
    width: 100%;
    border-radius: 100px / 100px;
}

.left-button-slide,
.right-button-slide {
    display: flex;
    position: absolute;
    top: 50%;
    height: 50px;
    font-size: 3em;
    border: none;
    background-color: transparent;
}
.left-button-slide {
  left: 30px;
}
.right-button-slide {
  right: 30px;
}

.catalog-name {
    font-size: 3em;
    justify-content: center;
    display: flex;
}
.catalog {
    display: grid;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-template-columns: repeat(3, 1fr);
}
.element-sections {
    padding: 1em;
    margin: 2em;
    margin-inline: 10%;
    position: relative;
}
.element-sections>img {
    width: 100%;
    aspect-ratio: 3/2;
}
.element-sections>p {
    font-size: 4em;
    position: absolute;
    top: 0.5em;
    left: 1em;
    display: none;
}
.element-sections>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.element-sections:hover>a {
    display: block;
}
.element-sections:hover>p {
    display: block;
}
.element-sections:hover>img {
    opacity: 60%;
}

footer {
    width: 90%;
    padding-inline: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer li {
    margin: 1em;
}

.footer-but-up>a {
    font-size: 3em;
    display: block;
    padding: 0.4em;
    padding-top: 0;
    border-radius: 30%;
}

@media (max-width: 1600px) {

    .element-sections>p {
        font-size: 3em;
        position: absolute;
        top: 0.5em;
        left: 1em;
        display: none;
    }
    
    }

@media (max-width: 1600px) {

    .element-sections>p {
        font-size: 2em;
        position: absolute;
        top: 0.5em;
        left: 1em;
        display: none;
    }
        
    }    

@media (max-width: 1000px) {

    .name-logo {
        display: none;
    }
    section {    
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .background-logo {
        width: 74%;
        margin-inline: 10%;
        padding: 3%;    
        margin-top: 2em;
        border-radius: 40px / 40px;
    }
    .element-sections>p {
        font-size: 3em;
        position: absolute;
        top: 0.5em;
        left: 1em;
        display: none;
    }
    
    }

@media (max-width: 800px) {

    .background-image,    
    .footer-but-up,    
    header hr,
    .menu,
    #about-us
    {
        display: none;
    }
    .background-logo {
        position: static;
        width: 94%;
        margin: 0;
        padding: 3%;
        border-radius: 0 / 0;
    }
    .element-sections>p {
        font-size: 2em;
        position: absolute;
        top: 0.5em;
        left: 1em;
        display: block;
    }
    .element-sections>img {
        opacity: 60%;
    }
    
    }

@media (max-width: 600px) {

    .element-sections>p {
        font-size: 1.5em;
        position: absolute;
        top: 0.5em;
        left: 1em;
        display: block;
    }
            
    } 

@media (max-width: 450px) {

    section {    
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .footer-but-up,
    .footer-contacts,
    #review
    {
        display: none;
    }    
    .background-logo {
        width: 90%;
        margin: 0;
        padding: 5%;
        position: static;
        border-radius: 0 / 0;
    }
    .image-logo {
        height: 100px;
        margin: 0.2em;
    }
    .element-sections>p {
        font-size: 1em;
        position: absolute;
        top: 0.5em;
        left: 1em;
        display: block;
    }

}